<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
      <a class="nav-link" href="/add-movie">Add Movie</a>
    <div align="center">
        <table border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>MobileNo</th>
                    <th>ProfileImage</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% movies.forEach((movie , i)=> { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= movie.firstname %></td>
                        <td><%= movie.lastname %></td>
                        <td><%= movie.email %></td>
                        <td><%= movie.gender %></td>
                        <td><%= movie.mobileNo %></td>
                        <td><img src="<%= movie.profile %>" alt="img" width="100px"></td>
                        <td><a href="/edit-movie/<%= movie.id %>"><button>Edit</button></a></td>
                        <td><a href="/delete-movie/<%= movie.id %>"><button>Delete</button></a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>